<!--部分テンプレートの追加-->

<!--ユーザーの一覧-->
<h1>Users</h1>
<h4>image</h4>
<h4>name</h4>
<% @user.each do |user| %>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p><%= book.user.name %></p>
  <!--showリンクの追加-->
  <%= link_to "Show", user_path(@user) %>
</div>
<% end %>